/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /**
     * typography
     */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
     * border-radius
     */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
     * transition 
     */

    --transition-timing: 0.2s ease;

}



/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img,
ion-icon,
button,
a {
    display: block;
}

span {
    display: inline-block;
}

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {
    font: inherit;
}

body {
    background: var(--white);
}

/**
   * scrollbar style
   */

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}


/* ! ------------------------------------------------------------------------- */


/* ! REUSED STYLE */


.container {
    padding: 0 15px;
}

.hasScrollbar {
    padding-bottom: 5px;
}

.hasScrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.hasScrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(white);
    border-radius: 20px;
}

.hasScrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}

.hasScrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
}


/* ! ------------------------------------------------------------------------- */


/* ! MAIN  */

/* * overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* * ------------------------------------------------------------------------- */


/* * modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal.closed {
    display: none;
}

.modalCLoseOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletterImg {
    display: none;
}

.modalContent {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.modalCloseBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--salmon-pink);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    border-radius: var(--border-radius-sm);
}

.modalCloseBtn:hover {
    opacity: 0.9;
}

.modalCloseBtn ion-icon {
    --ionicon-stroke-width: 70px;
}

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletterHeader {
    margin-bottom: 20px;
}

.nesletterTitle {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}

.newsletterDesc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
}

.emailField {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    margin-bottom: 16px;
}

.btnNewsletter {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    margin: auto;
    transition: var(--transition-timing);
}

.btnNewsletter:hover {
    background: var(--salmon-pink);
}

/* * ------------------------------------------------------------------------- */


/* * NOTIFICATION */

.notificationToast {
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background: var(--white);
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    transform: translateX(calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: slideInOut 10s ease-in-out infinite;
}

@keyframes slideInOut {

    0%,
    45%,
    100% {
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.notificationToast.closed {
    display: none;
}

.toastCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
}

.toastCloseBtn ion-icon {
    --ionicon-stroke-width: 50px;
}

.toastBanner {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.toastBanner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.toastDetail {
    width: calc(100% - 85px);
    padding-right: 10px;
}

.toastMessage {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toastTitle {
    font-size: var(--fs-7);
    color: var(--onyx);
    font-weight: var(--weight-500);
}

.toastMeta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
}

/* * ------------------------------------------------------------------------- */


/* * HEADER */

.headerTop,
.headerUserActions,
.desktopNavigationMenu {
    display: none;
}

.headerMain {
    padding: 20px 0;
    border-bottom: 1px solid var(--cultured);
}

.headerLogo {
    margin-bottom: 20px;
}

.headerLogo img {
    margin: auto;
}

.headerSearchContainer {
    position: relative;
}

.headerSearchContainer .searchField {
    font-size: var(--fs-7);
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.searchField::-webkit-search-cancel-button {
    display: none;
}

.searchBtn {
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    transition: color var(--transition-timing);
}

.searchBtn:hover {
    color: var(--salmon-pink);
}

.mobileBottomNavigation {
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
}

.mobileBottomNavigation .actionBtn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
}

.mobileBottomNavigation .count {
    background: var(--bittersweet);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.mobileNavigationMenu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 1s ease;
    z-index: 20;
}

.mobileNavigationMenu.active {
    left: 0;
    visibility: visible;
}

.menuTop {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cultured);
}

.menuTop .menuTitle {
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
}

.menuCloseBtn {
    color: var(--eerie-black);
    font-size: 22px;
}


.menuCloseBtn ion-icon {
    --ionicon-stroke-width: 50px;
}

.mobileMenuCategoryList {
    margin-bottom: 30px;
}

.menuCategory .accordionMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileMenuCategoryList .menuCategory {
    border-bottom: 1px solid var(--cultured);
}

.mobileMenuCategoryList .menuTitle {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    padding: 12px 0;
}

.accordionMenu>div {
    font-size: 14px;
}

.accordionMenu ion-icon {
    --ionicon-stroke-width: 90px;
    color: var(--onyx)
}


.accordionMenu.active .addIcon,
.accordionMenu .removeIcon {
    display: none;
}

.accordionMenu .addIcon,
.accordionMenu.active .removeIcon {
    display: block;
}

.menuCategory .submenuCategoryList {
    margin-left: 10px;
}

.submenuTitle {
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.submenuTitle:hover {
    color: var(--davys-gray);
}

.submenuCategoryList {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.submenuCategoryList.active {
    max-height: 148px;
    visibility: visible;
}

.menuBottom .menuCategoryList {
    margin-bottom: 20px;
}

.menuBottom .menuCategory {
    border-bottom: none;
}

.menuBottom .menuTitle {
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    color: var(--eerie-black);
    padding: 12px 0;
}

.accordionMenu.active .caretBack {
    transform: rotate(-0.25turn)
}

.menuBottom .submenuCategoryList {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-left: 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 00.5);
}

.menuBottom .submenuCategory:not(:last-child) {
    border-bottom: 1px solid var(--cultured);
}

.menuSocialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuSocialContainer .socialLink {
    background: var(--cultured);
    color: var(--eerie-black);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--border-radius-md);
}

/* * ------------------------------------------------------------------------- */